/* Roboto font */
@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Regular.ttf) ;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Light.ttf);
    font-weight: 200;
}
