*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(128,247,249,1) 0%, rgba(0,210,252,1) 100%);
    font-family: "Roboto";
    font-weight: 500;
    overflow: auto;
}

.mobile-freame-size{
    height: 624px;
    width: 308px;
    border: 4px solid #000;
    border-top: 5px solid #000;
    border-bottom: 8px solid #000;
    margin: 0 auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    overflow: hidden;
    background: url('../img/bg_img.png') no-repeat center;
    background-size: 103%;
    position: relative;
}

@keyframes open{
    0%{
        opacity: 1;
    }

    90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes fade_image{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.loader{
    position: absolute;
    height: calc(102% + 2px);
    width: calc(102% + 2px);
    top: -2px;
    left: -2px;
    opacity: 0;
    z-index: 99;
    padding: 0 20px;
    background-color: #000;
    animation: open linear 3ss;
    -webkit-animation: open linear 3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-image{
    margin: 0 auto;
    animation: fade_image linear 2.5s;
    -webkit-animation: fade_image linear 2.5s;
    opacity: 0;
}

.loader-image > div:nth-child(2){
    position: absolute;
    width: 100%;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.loader-image img{
    width: 50%;
    margin: 0 auto;
    display: block;
}

.body-flex{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.middle_body{
    height: 100%;
    width: 100%;
}

.body-flex > div:nth-child(2){
    flex-grow: 1;
}

.notification-bar{
    height: 25px;
    padding: 4px 10px;
    color : #fff
}

.notification_flex{
    display: flex;
}

.mobile-scroll-body{
    position: relative;
}

.slider-body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slider-body.active{
    right: 0;
}

.first-slider-body{
    padding: 0 15px;
}

.first-slider-body > div:nth-child(2){
    flex-grow: 1;
}

.second-slider-body > div{
    height: calc(100% / 6);
    width: 100%;
    /* border: 1px solid #ccc;
    background-color: #fff; */
}

.left-notification{
    display: flex;
}

.notification_flex > div:nth-child(1){
    flex-grow: 1;
}

.notification-time{
    font-size: 12px;
    padding: 3px 5px 0;
}

.notification-time span{
    padding: 0;
    margin: 0;
}

.notification-second-panel i{
    font-size: 8px;
    position: relative;
    bottom: 3px;
    color: #fff;
}

.notification-second-panel i:last-child{
    font-size: 12px;
    bottom: 1.5px;
}

.f_cam img{
    height: 20px;
    width: auto;
}

/* goog;e seach bar*/

.google-search-bar{
    padding: 30px 0;
}

.google-round-search{
    height: 35px;
    width: 100%;
    /*border: 1px solid #000;
    */background-color: hsla(0, 0%, 100%, .80);
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    position: relative;
    display: flex;
    padding: 8.5px 15px
}

.g-logo{
    flex-grow: 1;
}

.google-round-search img{
    height: 18px;
    width: auto !important;
    display: inline-block !important;
}

.google-v-l img:first-child{
    padding: 0 15px;
}

.body-time-info{
    color: #fff;
    padding: 40px 0;
    font-weight: 400;
}

.body-time{
    font-size: 45px;
}

.body-date{
    font-weight: 200;
    text-transform: capitalize;
    font-size: 12px;
    padding-left: 5px;
}

.items-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0 15px;
    /* background-color: rgb(214, 214, 214); */
}

.items-inner > div{
    height: 40px;
    width: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.items-inner > div > div{
    background-color: rgba(204, 204, 204, 0.932);
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items_img img , .owl-carousel .owl-item img{
    width: 90%;
}

.filled{
    height: 10px;
}

.navigation-button{
    height: 25px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 25px;
    
}

.navigation-button div{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.navigation-button div:active{
    background-color: rgba(204, 204, 204, 0.507);
}

.navigation-button i{
    font-size: 10px;
}

.navigation-button div:last-child i{
    font-size: 12px;
}

.slider-circle{
    height: 12px;
    display: flex;
    justify-content: center;
}

.slider-circle > div{
    height: 12px;
    width: 12px;
    background-color: rgba(253, 253, 253, 0.37);
    margin: 0 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slider-circle .slide_btn_active{
    color: #fff;
}

.owl-dots{
    height: 7px;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.owl-dots button.owl-dot{
    height: 7px;
    width: 7px;
    background-color: rgba(255, 255, 255, 0.651) !important;
    text-align: center;
    margin: 0 2px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: block;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.owl-dots button.active{
    background-color: #fff !important;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.content-loader-div{
    height: calc(100% - 50px);
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 99;
    display: none;
}

.content-relative{
    height: 100%;
    width: 100%;
    position: relative;
}

.app-open-body{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgba(204, 204, 204, 0.507);
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    overflow: hidden;
}

.app-open-body iframe{
    height: 100%;
    width: 100%;
    border: none
}

.app-open-body iframe::-webkit-scrollbar-thumb{
    width: 4px;
}

.item_ready{
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    transition: .4s ease-out;
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
}

.conveter{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.window_close{
    height: 40px;
    width: 40px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    background-color: rgba(204, 204, 204, 0.507);
}